{:paths ["src/clj" "src/cljc"]
 :deps  {org.clojure/clojure          {:mvn/version "1.10.2"}
         org.slf4j/slf4j-nop          {:mvn/version "1.7.12"}
         io.pedestal/pedestal.service {:mvn/version "0.5.5"}
         io.pedestal/pedestal.jetty   {:mvn/version "0.5.5"}
         metosin/ring-http-response   {:mvn/version "0.9.1"}
         metosin/reitit-pedestal      {:mvn/version "0.5.12"}
         metosin/reitit               {:mvn/version "0.5.12"}
         ring/ring-devel              {:mvn/version "1.9.0"}}
 :aliases
        {:server           {:main-opts ["-m" pensive-dubinsky.api.server]}
         :intellij         {:extra-paths ["dev"]}
         :dev              {:jvm-opts ["-Denv=dev"]}
         :prod             {:jvm-opts ["-Denv=prod"]}
         :server+nrepl     {:main-opts  ["-e" "(use,'pensive-dubinsky.api.server),(start!)"
                                         "-m" nrepl.cmdline
                                         "-p" "3080"]
                            :extra-deps {nrepl/nrepl {:mvn/version "0.8.3"}}}
         :test             {:extra-paths ["test/clj"]
                            :extra-deps  {org.clojure/test.check {:mvn/version "1.1.0"}
                                          com.velisco/strgen     {:mvn/version "0.1.8"}}}
         :generate-samples {:main-opts ["-m" "pensive-dubinsky.gen"]}
         :runner           {:extra-deps {com.cognitect/test-runner
                                         {:git/url "https://github.com/cognitect-labs/test-runner"
                                          :sha     "b6b3193fcc42659d7e46ecd1884a228993441182"}}
                            :main-opts  ["-m" "cognitect.test-runner"]}}}
